*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}

/* FONT OF THE SITE */

body {
  font-family: 'Arial',sans-serif;
}

/* NAVBAR TOP */

.navbar {
	margin-bottom: 30px;
	border: 0px solid;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-static-top {
	background-color: #14BD5C;
}

.nav > li > a {
	padding: 15px 20px;
}

.navbar-default .navbar-nav > li {
	border-right: 1px solid #14AF57;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 14px;
	background-color: #14BD5C;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #17A855;
	color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	border: 0px solid;
	background-color: #17A855;
	color: #fff;
}

/* FORMS */

.form-control {
	font-family: 'Arial',sans-serif;
}

.navbar-form .form-control {
	border-color: #14BD5C;
	border-radius: 0px;
	width: 300px;
}
